@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

// VARIABLES

$max-width: 400px;
$dark-green: rgb(45, 62, 45);
$light-green: rgb(205, 221, 148);

// OVERALL RULES

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type="text"],
button {
  padding: 0.4em;
  border-radius: 0.3em;
}
button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

// SPECIFIC RULES

body {
  font-family: "Poppins", sans-serif;
  color: $dark-green;
  background-color: rgb(155, 160, 122);
  margin: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

.todo-form {
  width: 100%;
  max-width: $max-width;
  label[for="todo-input"] {
    display: block;
  }
  .input-group {
    display: flex;
    width: inherit;
    margin-bottom: 1rem;
    #todo-input {
      flex: 1;
    }
  }
}

.todo-list {
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: $max-width;
  padding: 0.2em;
  list-style: none;
  border: solid $light-green 5px;
  border-radius: 0.2em;
  .todo-item {
    display: flex;
    justify-content: space-between;
    background-color: $light-green;
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 0.2em;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    .todo-text {
      padding: 0.1em 0.5em;
      margin-right: auto;
      overflow: hidden;
    }
  }
}
.todo-item.done {
  .todo-text {
    text-decoration: line-through;
  }
  opacity: 0.4;
}
// rules for when re-ordering todo item:
.todo-item {
  &.bright {
    filter: brightness(1.5);
  }
  &.top-border {
    border-top: solid white 8px;
  }
  &.bottom-border {
    border-bottom: solid white 8px;
  }
}

.line {
  max-width: $max-width;
  opacity: 0.4;
  border-bottom: solid $dark-green 2px;
  margin-top: 2rem;
}

.github-link {
  font-size: 0.9rem;
  text-decoration: none;
  opacity: 0.5;
  display: inline-block;
  margin-top: 0.5rem;
  &:hover {
    opacity: 1;
  }
}

.my-toast {
  position: absolute;
  z-index: 1;
  height: 40px;

  display: flex;
  flex-direction: column;

  .arrow-icon {
    transform: translateX(12px); //move right (to position above bang-icon)
  }

  .box {
    transform: translateY(-9px); //move up (account for whitespace below arrow)

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    padding: 5px 10px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);

    .bang-icon {
      color: orange;
      font-size: x-large;
      margin-right: 10px;
    }
    .text {
      color: black;
      font-size: 14px;
    }
  }
}

// UTLITY RULES

.d-flex {
  display: flex;
}

.hide {
  display: none;
}
